


.example-container {
  width: auto;
  height: 650px;

  
}
.example-container1 {
  width: auto;
  height: 650px;

  
}

.example-sidenav-content {
  display: flex;
  height: 10%;
  align-items: first baseline;
  justify-content: center;
  
}

.example-sidenav {
  padding: 20px;
}

.example-stepper {
  margin-top: 8px;
  border: 10%;
  border-color: black;
}


.mat-mdc-form-field {
  margin-top: 16px;
}

table {
  width: 100%;
  
}
/* .example-full-width{
  height: 5%;
} */

input[type=text], input[type=password] {
  width: 70%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-block-color: #030303;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: #3782f3;
  border-color: #3782f3;
}

.demo-row-is-clicked {
  font-weight: bold;
}



.container {
  width: 2000px;
  height: auto;
  /* width: auto;
  height: auto; */
  background-color: #ffffff; /* Set the background color of the container */
  border: 1px solid #000; /* Set the border of the container */
  padding: 20px; /* Set the padding inside the container */
  margin: 0 auto; /* Center the container horizontally */
 
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;

}


.dateStyle {
  background-color: #ddd
}





.mat-form-field-appearance-outline {
  padding: -53em 0 1em 0;
}



td {
  vertical-align: middle;
  /* horizontal-align: right;  */
}

.demo-table {
  width: 100%;
  border-collapse: collapse;
  color: #3782f3;
}

.table-header {
  font-size: medium;
  color: rgb(59, 59, 59);
}

.table-cell {
  font-size: medium;
}
.mat-form-field {
  padding: 5px;
}

.small-input-field {
  width: 200px;
  height: 0px;
  font-size: 12px;
}

.mat-label {
  font-size: small;
}

.example-container {
  overflow: hidden;
}

.mat-elevation-z4 {
  overflow: hidden;
}

.dba {
  width: 19%;
  margin: 5px 0 22px 7px;
}

.search-field {
  width: 220px;
  height: 48px;
  background-color: rgb(255, 255, 255);
   padding-bottom: 10px;
   border-bottom: #3782f3;
}

.container1,.container1-h4 {
  width: 670px; /* Set the desired width of the container */
  height: 516px; /* Set the desired height of the container */
  padding: 14px;
  margin: 14px;
  box-sizing: border-box;
  font-size: larger;
  color: #3782f3;
}

.container2, .container2-h4{
  width: 550px; /* Set the desired width of the container */
  height: 250px; /* Set the desired height of the container */
  padding: 14px;
  margin: 14px;
  box-sizing: border-box;
  font-size: larger;
  color: #3782f3;
}
.container3, .container3-h4{
  width: 550px; /* Set the desired width of the container */
  height: 250px; /* Set the desired height of the container */
  padding: 14px;
  margin: 14px;
  box-sizing: border-box;
  font-size: larger;
  color: #3782f3;
}


.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

/* .tablehead {
  background-color: #62c6ff;
 
  
  font-family: 'Montserrat', 'Open Sans', sans-serif,bold;
  font-weight: 550;
  font-size: 14px;
  padding-bottom: 18px;
color: #ffffff;
padding: 10px;
text-align: left;
border-bottom: 1px solid #ccc;
} */




.mat-icon  {
  color: #000000;
}


.header-content:hover .search-field {
  background-color: transparent;
  box-shadow: none;
}

input {
  color: #000;
  font-family: 'Graphik-regular',sans-serif;
  font-size: 14px;
  opacity: 5;
}


.custom-toolbar {
  background-color: #3782f3;
  color: #ffffff;
}


.example-stepper .mat-step-header {
  background-color: #3782f3; /* Replace with your desired color */
}

.example-stepper .mat-step-header.mat-step-header-selected {
  background-color: #3782f3; /* Replace with your desired color */
}
/* Side navigation container */


/* Side navigation content */
.side-nav-content {
  width: 320px;
  padding: 20px;
  background-color: #ffffff;
  text-align: left; /* Align content to the right */
}

.side-nav-content h4 {
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: 700;
}

.side-nav-content ul {
  list-style-type: none;
  padding: 0;
}

.side-nav-content li {
  margin-bottom: 15px;
  font-size: larger;
  font-weight: bold;
}

.side-nav-content a {
  text-decoration: none;
  color: #333;
}

.side-nav-content a:hover {
  color: #555;
}


.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-elevation-z4{
  cursor: pointer;
}