<form >
    <table>

      <div class="row">
        <div class="col">
     
        
        <mat-card class="container1" >
          <h4><b>DEALER INFORMATION</b></h4>


          <div>
            <span>{{Dealer.businessCenter}} - {{Dealer.dealerCompanyName}}</span>
            <br>
            <span> BusinessCenter - {{Dealer.businessCenter}}</span>
            <br>
            <span>{{Dealer.dealerName}}      ({{Dealer.dealerName}})</span>
            <br>
            <br>
            <br>
            <span>{{Dealer.addressLine1}}    {{Dealer.addressLine2}}   </span>
            <br>
            <span>{{Dealer.city}}      ({{Dealer.state}})</span>
            <br>
            <span>{{Dealer.country}}      ({{Dealer.zicode}})</span>
            <br>
            <span>{{Dealer.phoneNumber}}      </span>
            <br>
            <span>{{Dealer.email}}</span>
          </div>
        </mat-card>
      </div>

      
     <div class="col">
        <mat-card class="container2 " >
          <h4><b>AUDIT INFORMATION</b></h4>
<div>
          <span>{{Dealer.auditType}} - {{Dealer.reasonAuditSelected}}</span>
          <br>
          <!-- <span> BusinessCenter - {{Dealer.businessCenter}}</span> -->
          <br>
          <span>{{Dealer.dateAssigned | date: dateAssignedFormat}}   </span>
          <br>
          <br>
          <br>
          <span>{{Dealer.reportLanguage}}       </span>
        </div>
        </mat-card>
        <mat-card class="container3" >
          <h4><b>ASSIGNED AUDITORS</b></h4>

          <div>
            <ul>
              <li *ngFor="let person of auditor"> 
                {{ person.percentage }}% -  {{ person.firstName }}  {{ person.lastName }}
              </li>
             </ul>


          </div>
        </mat-card>
      </div>
      
    </div>
    </table>
  </form>
